<body>
  <div class="wrapper">
    <div class="pic-section">
      <img src="img/C5HJIFPUEAAdLGt.jpg" alt="Picture" />
    </div>

    <div class="detail-section">
      <div class="owner-section">
        <a href="https://www.google.com/">
          <!-- Link to user gallery -->
          <img alt="Owner" src="img/1af56d3594e8fdbc772f740141375eda.jpg" />
        </a>
        <span> By <a href="https://www.google.com/">[Owner name]</a></span>
      </div>
      <div class="like-section">
        <img
          src="img/heart-removebg-preview.png"
          alt="Like"
          class="like"
          onclick="changeLike(this)"
        /><span> 123 Like</span>
      </div>
      <div class="message-section">
        <p>
          Decription of the owner: this is Exmaple : <br />"Hello, You are
          almost ready to get started. Check your mail and enter the
          verification code to become one of DrawIt members. "
        </p>
      </div>
      <div class="comment-section">
        <p>Cooment</p>
        <p>Cooment</p>
        <p>Cooment</p>
        <p>Cooment</p>
      </div>
    </div>
  </div>
</body>
