<!-- <mat-progress-bar mode="indeterminate" value=40 *ngIf="onload"></mat-progress-bar> -->
<div class="header">
  <header class="d-flex shadow-lg p-3 mb-5 rounded">
    <a href="#">
      <img
        id="logo"
        src="https://avatar-ex-swe.nixcdn.com/playlist/2015/03/23/1/0/e/8/1427099001196_500.jpg"
        alt=""
      />
    </a>
    <form class="search-form" (ngSubmit)="onSearch()">
      <div class="input-group input-group-lg">
        <span
          class="ico ico-mglass"
          [ngClass]="clicked ? { 'ico-mglass': false } : { 'ico-mglass': true }"
        ></span>
        <input
          type="text"
          class="form-control rounded-pill"
          [placeholder]="clicked ? 'Search' : '    Search'"
          (click)="clicked = true"
          (clickOutside)="clicked = false"
        />
        <span class="input-group-append" style="margin-left: 0.5px"> </span>
      </div>
    </form>
    <div
      class="btn-group notification"
      ngbDropdown
      display="dynamic"
      placement="bottom-left"
    >
      <button
        type="button"
        class="border-0"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
        style="background-color: rgba(20, 140, 177, 0)"
        data-offset="-10,0"
      >
        <i class="fas fa-bell fa-2x" aria-hidden="true" ngbDropdownToggle></i>
      </button>

      <div ngbDropdownMenu>
        <a
          href="#"
          class="list-group-item list-group-item-action border-0"
          ngbDropdownItem
        >
          <div class="row">
            <div class="col-md-2">
              <img
                class="avatar-mess"
                src="https://avatar-ex-swe.nixcdn.com/playlist/2015/03/23/1/0/e/8/1427099001196_500.jpg"
                alt="avatar-mess"
              />
            </div>
            <div class="col-md-10">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">Notification</p>
                <small class="text-muted">3 days ago</small>
              </div>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div
      ngbDropdown
      class="btn-group message"
      display="dynamic"
      placement="bottom"
    >
      <button
        type="button"
        class="border-0"
        style="background-color: rgba(20, 140, 177, 0)"
        data-offset="-100,0"
      >
        <i class="far fa-comment-dots fa-2x" ngbDropdownToggle></i>
      </button>
      <div ngbDropdownMenu>
        <a
          href="#"
          class="list-group-item list-group-item-action border-0"
          ngbDropdownItem
        >
          <div class="row">
            <div class="col-md-2">
              <img
                class="avatar-mess"
                src="https://avatar-ex-swe.nixcdn.com/playlist/2015/03/23/1/0/e/8/1427099001196_500.jpg"
                alt="avatar-mess"
              />
            </div>
            <div class="col-md-10">
              <div class="d-flex w-100 justify-content-between">
                <p class="mb-1">User Nickname</p>
                <small class="text-muted">3 days ago</small>
              </div>

              <small class="text-muted">Message...</small>
            </div>
          </div>
        </a>
      </div>
    </div>

    <div container="body" class="avatar" *ngIf="logIn === true">
      <a href="/gallery">
        <img [(src)]="avatar" alt="..." />
      </a>
    </div>
    <!-- Example single danger button -->
    <a
      class="btn btn-danger rounded-pill sign-in"
      href="/userLogin"
      *ngIf="logIn !== true"
      >Sign in</a
    >

    <div ngbDropdown class="btn-group drop-menu btn-sm" *ngIf="logIn === true">
      <button
        type="button"
        class="border-0"
        ngbDropdownToggle
        style="background-color: rgba(20, 140, 177, 0)"
        data-offset="-150,0"
      >
        <i class="fas fa-sort-down"></i>
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li><a ngbDropdownItem href="/settings">Settings</a></li>
        <li class="dropdown-divider"></li>
        <li>
          <a ngbDropdownItem href="#" class="btn-danger" (click)="signOut()"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </header>
</div>
