<div class="header">
  <header class="d-flex shadow-lg p-3 mb-5 rounded">
    <a href="#">
      <img
        id="logo"
        src="../../assets/Annotation_2021-07-08_173437-removebg-preview.png"
        alt=""
      />
    </a>
    <div class="searchfield">
      <form class="search-form" (ngSubmit)="onSearchByTyping()" [formGroup]="formSearch">
        <div class="input-group input-group-lg">
          <span
            class="ico ico-mglass"
            [ngClass]="
              clicked ? { 'ico-mglass': false } : { 'ico-mglass': true }
            "
          ></span>
          <input
            type="text"
            class="form-control rounded-pill"
            [placeholder]="clicked ? 'Search' : '    Search'"
            (click)="clicked = true"
            (clickOutside)="clicked = false"
            formControlName="content"
          />
          <span class="input-group-append" style="margin-left: 0.5px"> </span>
        </div>
      </form>
      <div class="catefield">
        <div class="eachcate" *ngFor="let cate of cateList">
          <button [value]="cate.id" (click)="onSearchByCategory(cate.id)">{{cate.name}}</button>
        </div>
      </div>
    </div>

    <div container="body" class="avatar" *ngIf="logIn === true">
      <a href="/gallery">
        <img [(src)]="avatar" alt="..." />
      </a>
    </div>
    <!-- Example single danger button -->
    <a
      class="btn btn-danger rounded-pill sign-in"
      href="/userLogin"
      *ngIf="logIn !== true"
      >Sign in</a
    >

    <div ngbDropdown class="btn-group drop-menu btn-sm" *ngIf="logIn === true">
      <button
        type="button"
        class="border-0"
        ngbDropdownToggle
        style="background-color: rgba(20, 140, 177, 0)"
        data-offset="-150,0"
      >
        <i class="fas fa-sort-down"></i>
      </button>
      <ul class="dropdown-menu" ngbDropdownMenu>
        <li><a ngbDropdownItem href="/settings">Settings</a></li>
        <li class="dropdown-divider"></li>
        <li>
          <a ngbDropdownItem href="#" class="btn-danger" (click)="signOut()"
            >Sign out</a
          >
        </li>
      </ul>
    </div>
  </header>
</div>
