.save-btn {
    position: absolute;
    top: 10px;
    left: 140px;
    display: none;
}

.overlay {
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
}

.avatar-img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 1px 4px 8px 1px rgba(0, 195, 255, 0.2), 1px 6px 20px 1px rgba(0, 110, 255, 0.19);
    position: absolute;
    left: 10px;
}

.selected .gal-img {
    opacity: 0.4;
}

.selected .overlay * {
    display: inline-block;
}

.share {
    position: absolute;
    left: 150px;
}

.share i {
    font-size: 20px;
}

.ellipsis {
    position: absolute;
    left: 180px;
    top: -40px;
}

.ellipsis i {
    font-size: 20px;
}

.gal-img {
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em, rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em, rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
    height: auto;
    z-index: 1;
    min-height: 90px;
}
.DropdownControlled-module_root-2MA1A{
  position: absolute;
  align-items: baseline;
  display: flex;
  margin-right: 5px;
  height: 100%;
  width: 100%;
  justify-content: flex-end;
}
.ItemActions_button-1IG6J{

  -webkit-box-direction: normal;
  color: #717790;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin: 0;
  border-radius: 4px;
  transition: background-color .2s linear,border-radius .2s linear;
  position: relative;
  padding: 5px;
}
svg {

  -webkit-box-direction: normal;
  color: #717790;
  cursor: pointer;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  z-index: 11;
  position: relative;
  width: 25px;
  fill: #5a5f73;
  transition: fill .2s linear;
  height: 15px;
}
.gallery{
  position: absolute;
  display: initial;
}
:host>>>.dropdown-toggle::after{
display:none;
}
.dropdown-item{
  justify-content: center;
}
