<a>
  <div class="gal-item overlay">
    <img
      src="{{ item.picture }}"
      class="card-img gal-img"
      alt="..."
      [ngStyle]="hovered ? { opacity: '0.4' } : { opacity: '1' }"
      #gal_img
      *ngIf="modeOverlay !== 'user' && modeOverlay !== 'search'"
    />
    <img
      src="{{ item[0].picture }}"
      class="card-img gal-img"
      alt="..."
      [ngStyle]="hovered ? { opacity: '0.4' } : { opacity: '1' }"
      #gal_img
      *ngIf="modeOverlay === 'user'"
    />
    <img
      src="{{ picture.picture }}"
      class="card-img gal-img"
      alt="..."
      [ngStyle]="hovered ? { opacity: '0.4' } : { opacity: '1' }"
      #gal_img
      *ngIf="modeOverlay === 'search'"
    />
    <div class="home" *ngIf="hovered && modeOverlay === 'home'">
      <button
        type="button"
        class="btn btn-primary save-btn rounded-pill"
        [ngStyle]="hovered ? { display: 'inline-block' } : { display: 'none' }"
        (click)="onSave()"
        *ngIf="checkCookie"
      >
        Save
      </button>

      <a href="/user/{{ item.userId }}">
        <img
          [src]="avatar"
          class="avatar-img"
          alt="..."
          [ngStyle]="hovered ? { top: calHeight() } : { display: 'none' }"
        />
      </a>
      <div class="ellipsis" ngbDropdown placement="top-left">
        <button ngbDropdownToggle class="btn">
          <i class="fas fa-ellipsis-h" style="color: black"></i>
        </button>
        <div
          class="DropdownControlled-module_content-3YeM_"
          ngbDropdownMenu
          role="menu"
          style="padding: 5px"
          aria-labelledby="dropdownConfig"
        >
          <a
            href="/postDetail/{{ post.id }}"
            ngbDropdownItem
            (click)="saveUploadedImgToCookie(item.id, item.picture)"
            >View this post</a
          >
        </div>
      </div>
    </div>
    <div class="home" *ngIf="hovered && modeOverlay === 'search'">
      <button
        type="button"
        class="btn btn-primary save-btn rounded-pill"
        [ngStyle]="hovered ? { display: 'inline-block' } : { display: 'none' }"
        (click)="onSave()"
        *ngIf="checkCookie"
      >
        Save
      </button>

      <a href="/user/{{ picture.userId }}">
        <img
          [src]="avatar"
          class="avatar-img"
          alt="..."
          [ngStyle]="hovered ? { top: calHeight() } : { display: 'none' }"
        />
      </a>
      <div class="ellipsis" ngbDropdown placement="top-left">
        <button ngbDropdownToggle class="btn">
          <i class="fas fa-ellipsis-h" style="color: black"></i>
        </button>
        <div
          class="DropdownControlled-module_content-3YeM_"
          ngbDropdownMenu
          role="menu"
          style="padding: 5px"
          aria-labelledby="dropdownConfig"
        >
          <a
            href="/postDetail/{{ item.id }}"
            ngbDropdownItem
            (click)="saveUploadedImgToCookie(picture.id, picture.picture)"
            >View this post</a
          >
        </div>
      </div>
    </div>
    <div class="upload" *ngIf="hovered && modeOverlay === 'upload'">
      <span
        title="Actions"
        data-test-id="action-menu"
        class="
          DropdownControlled-module_root-2MA1A
          ItemActions_menu-7PC3W ItemActions_menuSmall-rJ2pl
          MenuAction-module_root-1boK4
        "
        ngbDropdown
        data-direction="top left"
        ><span
          class="ItemActions_button-1IG6J"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownIcon="pi pi-chevron-down"
          ngbDropdownToggle
          ><svg viewBox="0 0 29 7">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
            <circle cx="14.5" cy="3.5" r="3.5"></circle>
            <circle cx="25.5" cy="3.5" r="3.5"></circle>
          </svg>
        </span>
        <div
          class="DropdownControlled-module_content-3YeM_"
          ngbDropdownMenu
          role="menu"
          data-direction="top left"
          aria-labelledby="dropdownMenuButton"
          style="padding: 5px"
        >
          <a
            href="/post"
            ngbDropdownItem
            (click)="saveUploadedImgToCookie(item.id, item.picture)"
            >Post this image</a
          >
        </div>
        <button
          (click)="deleteImg($event, item.id)"
          pButton
          style="display: flex; align-items: center; justify-content: center"
        >
          <i class="pi pi-trash"></i>
        </button>
      </span>
    </div>
    <p-confirmPopup
      [showTransitionOptions]="'100ms'"
      [hideTransitionOptions]="'100ms'"
    ></p-confirmPopup>
    <div class="post" *ngIf="hovered && modeOverlay === 'post'">
      <span
        title="Actions"
        data-test-id="action-menu"
        class="
          DropdownControlled-module_root-2MA1A
          ItemActions_menu-7PC3W ItemActions_menuSmall-rJ2pl
          MenuAction-module_root-1boK4
        "
        ngbDropdown
        data-direction="top left"
        ><span
          class="ItemActions_button-1IG6J"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownIcon="pi pi-chevron-down"
          ngbDropdownToggle
          ><svg viewBox="0 0 29 7">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
            <circle cx="14.5" cy="3.5" r="3.5"></circle>
            <circle cx="25.5" cy="3.5" r="3.5"></circle>
          </svg>
        </span>
        <div
          class="DropdownControlled-module_content-3YeM_"
          ngbDropdownMenu
          role="menu"
          data-direction="top left"
          aria-labelledby="dropdownMenuButton"
          style="padding: 5px"
        >
          <a
            href="/post"
            ngbDropdownItem
            (click)="savePostedImgToCookie(item.picture)"
            >Update this post</a
          >
          <a
            href="/postDetail/{{ post.id }}"
            ngbDropdownItem
            (click)="savePostedImgToCookie(item.picture)"
            >View this post</a
          >
        </div>

        <span
          ngbDropdownItem
          (click)="deletePost($event)"
          pButton
          style="display: flex; width: fit-content; z-index: 3"
          ><i class="far fa-trash-alt"></i
        ></span>
      </span>
    </div>
    <p-confirmPopup
      [showTransitionOptions]="'100ms'"
      [hideTransitionOptions]="'100ms'"
    ></p-confirmPopup>
    <div class="user" *ngIf="hovered && modeOverlay === 'user'">
      <span
        title="Actions"
        data-test-id="action-menu"
        class="
          DropdownControlled-module_root-2MA1A
          ItemActions_menu-7PC3W ItemActions_menuSmall-rJ2pl
          MenuAction-module_root-1boK4
        "
        ngbDropdown
        data-direction="top left"
        ><span
          class="ItemActions_button-1IG6J"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownIcon="pi pi-chevron-down"
          ngbDropdownToggle
          ><svg viewBox="0 0 29 7">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
            <circle cx="14.5" cy="3.5" r="3.5"></circle>
            <circle cx="25.5" cy="3.5" r="3.5"></circle>
          </svg>
        </span>
        <div
          class="DropdownControlled-module_content-3YeM_"
          ngbDropdownMenu
          role="menu"
          data-direction="top left"
          aria-labelledby="dropdownMenuButton"
          style="padding: 5px"
        >
          <a
            href="/postDetail/{{ post.id }}"
            ngbDropdownItem
            (click)="savePostedImgToCookie(item.picture)"
            >View this post</a
          >
        </div>
      </span>
    </div>
    <div class="post" *ngIf="hovered && modeOverlay === 'like'">
      <span
        title="Actions"
        data-test-id="action-menu"
        class="
          DropdownControlled-module_root-2MA1A
          ItemActions_menu-7PC3W ItemActions_menuSmall-rJ2pl
          MenuAction-module_root-1boK4
        "
        ngbDropdown
        data-direction="top left"
        ><span
          class="ItemActions_button-1IG6J"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          dropdownIcon="pi pi-chevron-down"
          ngbDropdownToggle
          ><svg viewBox="0 0 29 7">
            <circle cx="3.5" cy="3.5" r="3.5"></circle>
            <circle cx="14.5" cy="3.5" r="3.5"></circle>
            <circle cx="25.5" cy="3.5" r="3.5"></circle>
          </svg>
        </span>
        <div
          class="DropdownControlled-module_content-3YeM_"
          ngbDropdownMenu
          role="menu"
          data-direction="top left"
          aria-labelledby="dropdownMenuButton"
          style="padding: 5px"
        >
          <a
            href="/postDetail/{{ post.id }}"
            ngbDropdownItem
            (click)="savePostedImgToCookie(item.picture)"
            >View this post</a
          >
        </div>

        <span
          ngbDropdownItem
          (click)="deleteLikePost($event)"
          pButton
          style="display: flex; width: fit-content; z-index: 3"
          ><i class="far fa-trash-alt"></i
        ></span>
      </span>
    </div>
    <p-confirmPopup
      [showTransitionOptions]="'100ms'"
      [hideTransitionOptions]="'100ms'"
    ></p-confirmPopup>
  </div>
</a>
