<mat-progress-bar mode="indeterminate" value="40" *ngIf="loading">
</mat-progress-bar>
<app-header></app-header>
<p-toast key="smsg" position="top-right"></p-toast>
<div class="container-fluid">
  <app-settings></app-settings>
  <div class="wrapper">
    <div class="content content-2">
      <form
        action=""
        class="form password-form"
        (ngSubmit)="onSubmitChangePass()"
        [formGroup]="formChangePass"
      >
        <h2 class="title2">Change Password</h2>
        <div class="input-field">
          <fa-icon [icon]="faEnvelope"></fa-icon>
          <input
            type="email"
            value="{{ email }}"
            readonly
            formControlName="email"
          />
        </div>
        <div
          class="input-field"
          [ngClass]="{
            'error-box':
              (formChangePass.get('password')?.invalid &&
                formChangePass.get('password')?.touched) ||
              (clicked && formChangePass.get('password')?.pristine)
          }"
        >
          <fa-icon [icon]="faUnlock"></fa-icon>
          <p-password
            required
            [toggleMask]="true"
            type="password"
            placeholder="Password"
            formControlName="password"
          >
          </p-password>
          <span></span>
          <small
            *ngIf="
              (formChangePass.get('password')?.errors?.required &&
                formChangePass.get('password')?.touched) ||
              (clicked && formChangePass.get('password')?.pristine)
            "
            class="form-text p-invalid error-text"
            >Password is required</small
          >
          <small
            *ngIf="!isCorrect && formChangePass.get('password')?.dirty"
            class="form-text p-invalid error-text"
            >Password is incorrect</small
          >
        </div>
        <div
          class="input-field"
          [ngClass]="{
            'error-box':
              (formChangePass.get('newpassword')?.invalid &&
                formChangePass.get('newpassword')?.touched) ||
              (clicked && formChangePass.get('newpassword')?.pristine)
          }"
        >
          <fa-icon [icon]="faLock"></fa-icon>
          <p-password
            required
            [toggleMask]="true"
            type="password"
            placeholder="New Password"
            formControlName="newpassword"
          ></p-password>
          <span></span>
          <small
            *ngIf="
              (formChangePass.get('newpassword')?.errors?.required &&
                formChangePass.get('newpassword')?.touched) ||
              (clicked && formChangePass.get('newpassword')?.pristine)
            "
            class="form-text p-invalid error-text"
            >New password is required</small
          >
          <small
            *ngIf="formChangePass.get('newpassword')?.errors?.minlength"
            class="form-text error-text"
            >New password is at least 6 characters</small
          >
          <small
            *ngIf="formChangePass.get('newpassword')?.errors?.maxlength"
            class="form-text error-text"
            >New password is at most 50 characters</small
          >
          <small
            *ngIf="
              formChangePass.get('newpassword')?.errors?.pattern &&
              !formChangePass.get('newpassword')?.errors?.minlength &&
              !formChangePass.get('newpassword')?.errors?.maxlength
            "
            class="form-text error-text"
            >New password cannot contain special character(s)</small
          >
        </div>
        <div
          class="input-field"
          [ngClass]="{
            'error-box':
              (formChangePass.get('renewpassword')?.invalid &&
                formChangePass.get('renewpassword')?.touched) ||
              (clicked && formChangePass.get('renewpassword')?.pristine)
          }"
        >
          <fa-icon [icon]="faLock"></fa-icon>
          <p-password
            required
            [toggleMask]="true"
            type="password"
            placeholder="Confirm New Password"
            formControlName="renewpassword"
          ></p-password>
          <span></span>
          <small
            *ngIf="
              (formChangePass.get('renewpassword')?.errors?.required &&
                formChangePass.get('renewpassword')?.touched) ||
              (clicked && formChangePass.get('renewpassword')?.pristine)
            "
            class="form-text p-invalid error-text"
            >New repassword is required</small
          >
          <small
            *ngIf="
              formChangePass.get('renewpassword')?.value !==
                formChangePass.get('newpassword')?.value &&
              formChangePass.get('renewpassword')?.touched &&
              formChangePass.get('renewpassword')?.touched
            "
            class="form-text error-text"
            >New repassword is not match with new password</small
          >
        </div>
        <input type="submit" value="Save" class="btn solid" />
      </form>
    </div>
  </div>
</div>
