@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.container-fluid {
    overflow: hidden;
    background-color: #A2D5F2;
    height: -webkit-fill-available;
    padding: 2rem;
}

::selection {
    background: rgba(23, 162, 184, 0.3);
}

.wrapper {
    /* max-width: 90%; */
    position: absolute;
    display: inline-block;
    left: 35%;
    top: 6rem;
    width: 50%;
    margin: 5% auto;
    padding: 25px 30px 30px 30px;
    border-radius: 5px;
    background: linear-gradient(-225deg, #9DF3C4, #A2D5F2);
}

.wrapper header {
    font-size: 30px;
    font-weight: 600;
    padding-bottom: 20px;
}

.wrapper nav {
    position: relative;
    width: 80%;
    height: 50px;
    display: flex;
    align-items: center;
}

nav label fa-icon {
    padding-right: 7px;
}

input[type="radio"] {
    display: none;
}

section .content {
    display: none;
    background: #fff;
}

#setting:checked~section .content-2 {
    display: block;
}

section .content .title {
    font-size: 21px;
    font-weight: 500;
    margin: 30px 0 10px 0;
}

section .content p {
    text-align: justify;
}

.form {
    padding: 1%;
    padding-top: 0%;
    margin: 1%;
}

.form>input {
    padding-left: 0px;
}

.title1 {
    color: #799FCB;
}

.title2 {
    color: #ED8D8D;
    text-transform: uppercase;
    font-weight: 600;
}

.input-field {
    width: 70%;
    height: 30px;
    border-radius: 50px;
    display: grid;
    grid-template-columns: 5% 95%;
    padding: 0 0.4rem;
    position: relative;
    padding-bottom: 1%;
    margin: 20px 0;
    margin-left: 5%;
    color: rgb(255, 255, 255);
    align-items: center;
}

.error-text {
    margin-top: 0px;
    margin-left: 2rem;
    color: red;
}

.error-box {
    border: 2px solid red !important;
}

.input-field p-password,
input::placeholder {
    color: rgb(255, 255, 255);
}

.password-form .input-field {
    background-color: #ED8D8D;
}

.input-field fa-icon {
    padding-left: 10px;
    line-height: 30px;
}

.input-field p-password,
input {
    padding-left: 10%;
    width: 100%;
    height: 100%;
    font-weight: 500;
    font-size: 0.9rem;
    color: rgb(255, 255, 255);
    outline: none;
    border: none;
    line-height: 1;
    background: none;
}

:host>>>p-password {
    padding: 5px;
    width: 100% + 25px;
    background-color: #FFD19B;
    margin-right: 0px;
}

:host>>>p-password>div {
    margin-left: -4px;
    margin-right: -4px;
    height: 10px;
    width: 100%;
}

:host>>>p-password>div>input {
    background: none;
    line-height: 1;
    font-weight: 600;
    font-size: 0.9rem;
    color: white;
    height: 20px;
    padding: 10px;
    margin-left: -2px;
    margin-top: -1px;
    border: none;
}

:host>>>p-password>div>input::placeholder {
    color: white;
}

:host>>>p-password>div>i {
    margin-top: -1px;
    position: absolute;
    margin-right: 0px;
}

:host>>>.p-inputtext:enabled:focus {
    box-shadow: none;
}

.btn {
    width: 150px;
    background-color: #9BD1A7;
    border: none;
    outline: none;
    height: 25px;
    border-radius: 25px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 10px 0;
    cursor: pointer;
    transition: 0.5s;
}

.btn:hover {
    background-color: #33684e;
}


/* :host>>>.p-tabmenu .p-tabmenu-nav {
    display: block;
    background-color: transparent;
    border: none;
}

:host>>>.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    border: none;
}

:host>>>.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link {
    background-color: transparent;
}

:host>>>p-tabmenu div {
    display: inline-block;
    width: 20%;
    float: left;
}

:host>>>.p-tabmenu .p-tabmenu-nav .p-tabmenuitem:not(.p-highlight):not(.p-disabled):hover .p-menuitem-link {
    background: none;
}

:host>>>.p-tabmenu .p-tabmenu-nav .p-tabmenuitem .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: none;
    border-bottom: 2px solid #2196F3;
} */

@media (max-width: 870px) {
    .input-field {
        width: 100%;
    }
}

@media (max-width: 570px) {
    .wrapper {
        position: relative;
        left: -17px;
        top: 60px;
        width: 110%;
        border-radius: 5px;
        background: linear-gradient(-225deg, #9DF3C4, #A2D5F2);
    }
}