<mat-progress-bar mode="indeterminate" value="40" *ngIf="onload">
</mat-progress-bar>
<p-toast key="smsg" position="top-right"></p-toast>
<input type="radio" name="Photos" id="check1" checked />
<input type="radio" name="Photos" id="check2" />
<input type="radio" name="Photos" id="check3" />

<div class="container-fluid">
  <h1>[User name]'s Gallery</h1>
  <div class="top-content">
    <h3>[User name]'s Galery</h3>
    <label for="check1">Posted photos</label>
    <label for="check2">Liked photos</label>
    <label for="check3">Uploaded photos (hidden with orther user)</label>
  </div>

  <div class="photo-gallery">
    <div class="pic posted">
      <img src="../../assets/test1.jpg" alt="" />
      <img src="../../assets/test3.jpg" alt="" />
    </div>
    <div class="pic liked">
      <img src="../../assets/test2.jpg" alt="" />
    </div>

    <div class="pic uploaded">
      <!-- [maxFileSize]="maxFileSize | number" -->

      <form [formGroup]="formUploadPic">
        <label id="upload_label" for="img">Upload new Photo</label>
        <input
          type="file"
          id="img"
          name="img"
          accept="image/*"
          (change)="onSelectedFile($event)"
          formControlName="pic"
        />
        <label id="upload_label" for="img">Upload new Photo(s)</label>
        <p-fileUpload
          name="demo[]"
          (uploadHandler)="onUpload($event)"
          [multiple]="true"
          accept="image/*"
          [maxFileSize]="1000000"
          formControlName="pics"
          [customUpload]="true"
        >
          <ng-template pTemplate="content">
            <ul *ngIf="uploadedFiles.length">
              <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
              </li>
            </ul>
          </ng-template>
        </p-fileUpload>
      </form>
      <p-galleria
        #galleria
        [(value)]="images"
        [(activeIndex)]="activeIndex"
        [numVisible]="5"
        [containerStyle]="{ 'max-width': '640px' }"
        [containerClass]="galleriaClass()"
        [showThumbnails]="showThumbnails"
        [showItemNavigators]="true"
        [showItemNavigatorsOnHover]="true"
        [circular]="true"
        [autoPlay]="true"
        [transitionInterval]="3000"
      >
        <ng-template pTemplate="item" let-item>
          <img
            [src]="item.picture"
            [ngStyle]="{
              width: !fullscreen ? '100%' : '',
              display: !fullscreen ? 'block' : ''
            }"
          />
        </ng-template>
        <ng-template pTemplate="thumbnail" let-item>
          <div class="p-grid p-nogutter p-justify-center">
            <img [src]="item.picture" />
          </div>
        </ng-template>
        <ng-template pTemplate="footer" let-item>
          <div class="custom-galleria-footer">
            <button
              type="button"
              pButton
              icon="pi pi-list"
              (click)="onThumbnailButtonClick()"
            ></button>
            <span *ngIf="images" class="title-container">
              <span>{{ activeIndex + 1 }}/{{ images.length }}</span>
              <span class="title">{{ images[activeIndex].title }}</span>
              <span>{{ images[activeIndex].alt }}</span>
            </span>
            <button
              type="button"
              pButton
              [icon]="fullScreenIcon()"
              (click)="toggleFullScreen()"
              class="fullscreen-button"
            ></button>
          </div>
        </ng-template>
      </p-galleria>
    </div>
  </div>
</div>
