@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
body {
    font-family: "Poppins", sans-serif;
    background-color: #363940;
    display: flex;
    flex-direction: column;
    padding: 20px;
    position: relative;
}

.wrapper {
    background-color: #fff;
    padding: 25px;
    border-radius: 5px;
    width: 84%;
    max-width: 100%;
    margin: 50px auto;
    align-self: center;
    box-sizing: border-box;
    border: 10px solid;
    border-color: blanchedalmond;
}

header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
}

h1 {
    flex: 1;
    padding: 0;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    color: #7A7B7F;
}

.avatar {
    position: relative;
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    left: -70px;
    top: -70px;
    border: 10px solid;
    border-color: blanchedalmond;
}

section {
    display: block;
}

section input,
section textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ddd;
    outline: 0;
    background-color: #F5F7FA;
    padding: 10px;
    margin-bottom: 10px;
    letter-spacing: 1.4px;
}

section textarea {
    min-height: 200px;
}

.images {

    flex-wrap: wrap;
    margin-top: 20px;
}

.images .img,
.images .pic {
    flex-basis: 31%;
    margin-bottom: 10px;
    border-radius: 4px;
}

.images .img {
    display: inline-block;
    height: 140px;
    background-size: cover;
    margin-right: 10px;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

.images .img:nth-child(3n) {
    margin-right: 0;
}

.images .img span {
    display: none;
    text-transform: capitalize;
    z-index: 2;
}

.images .img::after {
    content: '';
    width: 100%;
    height: 100%;
    transition: opacity .1s ease-in;
    border-radius: 4px;
    opacity: 0;
    position: absolute;
}

.images .img:hover::after {
    display: block;
    background-color: #000;
    opacity: .5;
}

.images .img:hover span {
    display: block;
    color: #fff;
}

.images .pic {
    background-color: #F5F7FA;
    align-self: center;
    text-align: center;
    padding: 40px 0;
    text-transform: uppercase;
    color: #848EA1;
    font-size: 12px;
    cursor: pointer;
}

@media screen and (max-width: 400px) {
    .wrapper {
        margin-top: 0;
    }
    section input,
    section textarea {
        font-size: 8px;
    }
    .images .img,
    .images .pic {
        flex-basis: 100%;
        margin-right: 0;
    }
}

.notification {
    position: absolute;
    left: 20px;
    bottom: 20px;
    top: auto;
    right: auto;
}

.notification p {
    margin: 0;
    padding: 0;
}

.notification .btn {
    padding: 16px 20px;
    border-radius: 5px;
    display: flex;
    margin-bottom: 10px;
    font-size: 12px;
    align-items: center;
    animation: fadeIn .4s ease-in;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.notification .btn::before {
    margin-right: 12px;
    font-family: 'fontawesome';
    font-size: 15px;
}

.notification span {
    margin-left: 10px;
    cursor: pointer;
    flex: 1;
    text-align: right;
}

.notification .error {
    background-color: #ECC8C5;
    border: 10px solid #BD8181;
}

.notification .error span {
    color: #C79995;
}

.notification .error::before {
    content: '\f05c';
    color: #B2312F;
}

.notification .success {
    background-color: #DEF2D6;
    border: 1px solid #B3CEA9;
}

.notification .success span {
    color: #AFC7A7;
}

.notification .success::before {
    content: '\f00c';
    color: #5A7052;
}

.wrapper footer ul {
    margin: 0;
    margin-top: 30px;
    display: flex;
    list-style: none;
    padding: 0;
}

.wrapper footer ul li {
    flex: 1;
}

.wrapper footer li span {
    text-transform: capitalize;
    cursor: pointer;
}

.wrapper footer li:first-child {
    color: #999;
    text-align: left;
    font-size: 12px;
}

.wrapper footer li:first-child span {
    display: inline-block;
    border-bottom: 1px solid #ddd;
}

.wrapper footer li:last-child {
    text-align: right;
}

.wrapper footer li:last-child span {
    background-color: #22A4E6;
    padding: 10px 20px;
    color: #fff;
    border-radius: 3px;
}

button {
    display: inline-block;
    height: 55px;
    padding-left: 4%;
    padding-right: 4%;
    line-height: 55px;
    margin: 0%;
    color: salmon;
    cursor: pointer;
    transition: 0.6s;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}

button:hover {
    color: white;
    background-color: limegreen;
}
