<mat-progress-bar
  mode="indeterminate"
  style="position: absolute; z-index: 1000"
  *ngIf="loading"
>
</mat-progress-bar>
<p-toast key="smsg" position="top-right"></p-toast>
<input type="radio" name="Photos" id="check1" checked />
<input type="radio" name="Photos" id="check2" />
<input type="radio" name="Photos" id="check3" />

<div class="container-fluid">
  <div class="wrap">
    <a href="/" class="button" style="text-decoration: none" id="back">Back</a>
  </div>
  <h1>{{ username }}'s Gallery</h1>
  <div class="top-content">
    <h3>{{ username }}'s Galery</h3>
    <label for="check1">Posted photos</label>
    <label for="check2">Liked photos</label>
  </div>

  <div class="photo-gallery">
    <div class="pic posted">
      <div class="card-columns">
        <div class="gal" *ngFor="let img of postedImages">
          <app-image
            [item]="img"
            [hovered]="img === hoveredItem"
            [modeOverlay]="'user'"
            [posted]="true"
            (mouseover)="onMouseover(img)"
            (mouseleave)="onMouseleave()"
          ></app-image>
        </div>
      </div>
    </div>
    <div class="pic liked">
      <div class="card-columns">
        <div class="gal" *ngFor="let img of likedImages">
          <app-image
            [item]="img"
            [hovered]="img === hoveredItem"
            [modeOverlay]="'user'"
            [posted]="true"
            (mouseover)="onMouseover(img)"
            (mouseleave)="onMouseleave()"
          ></app-image>
        </div>
      </div>
    </div>
  </div>
</div>
