<mat-progress-bar
  mode="indeterminate"
  value="40"
  *ngIf="loading"
></mat-progress-bar>
<app-header></app-header>
<p-toast key="smsg" position="top-right"></p-toast>
<div class="container-fluid">
  <div class="card-columns" >
    <ng-container *ngIf="searchContent !== undefined">
      <div class="gal" *ngFor="let item of listPosts">
        <app-image
          [item]="item"
          [hovered]="item === hoveredItem"
          [modeOverlay]="'search'"
          [search]="'key'"
          [posted]="true"
          [userId]="userId"
          (mouseover)="onMouseover(item)"
          (mouseleave)="onMouseleave()"
          (saved)="savePicture($event)"
        ></app-image>
      </div>
    </ng-container>
    <ng-container *ngIf="searchCategoryId !== undefined">
      <div class="gal" *ngFor="let item of listPosts">
        <app-image
          [item]="item"
          [hovered]="item === hoveredItem"
          [modeOverlay]="'search'"
          [search]="'cat'"
          [posted]="true"
          [userId]="userId"
          (mouseover)="onMouseover(item)"
          (mouseleave)="onMouseleave()"
          (saved)="savePicture($event)"
        ></app-image>
      </div>
    </ng-container>

  </div>

  <a href="/post">
    <div
      class="pin"
      (mouseover)="hoveredPin = true"
      (mouseleave)="hoveredPin = false"
    >
      <i
        class="fas fa-plus"
        [ngStyle]="
          hoveredPin
            ? { color: 'rgb(150, 150, 150)' }
            : { color: 'rgba(255,255,255, 0.9)' }
        "
      ></i>
    </div>
  </a>
</div>
