<body>
  <div class="wrapper">
    <header>
      <img
        src="../../assets/Annotation_2021-07-08_173437-removebg-preview.png"
        alt="Logo"
        class="logo"
      />
    </header>
    <h5>You one step away</h5>
    <h1>Verify Your Email Address</h1>
    <div class="message">
      <p>
        Hello,<br />
        You are almost ready to get started.<br />
        Check your mail and enter the
        <span style="color: steelblue">verification code</span> to become one of
        <span style="color: salmon">DrawIt</span> members.
      </p>
    </div>
    <div class="section">
      <form class="form-send" [formGroup]="formVerifyEmail">
        <input
          type="text"
          id="email"
          name="email"
          [value]="email"
          style="display: none"
          formControlName="email"
        />
        <input
          type="text"
          id="code"
          name="code"
          placeholder="Verification code"
          formControlName="code"
        />
        <small
          *ngIf="
            formVerifyEmail.get('code').touched &&
            formVerifyEmail.get('code')?.errors?.required
          "
          style="color: red"
          >Verification code is required</small
        >
        <small
          *ngIf="
            clicked &&
            !verified &&
            !formVerifyEmail.get('code')?.errors?.required
          "
          style="color: red"
          >Verification code is incorrect</small
        >
        <br />
        <button
          type="submit"
          form="form1"
          class="btn btn-send"
          value="Submit"
          (click)="onSubmitVerifyEmail()"
        >
          Verified
        </button>
      </form>
    </div>
    <footer>
      <div class="message">
        <p>
          Still have not received the
          <span style="color: steelblue">verification code</span>.
        </p>
      </div>
      <form class="form-resend">
        <span id="email" name="email">{{ email }}</span>
        <br />

        <button
          type="submit"
          form="form1"
          class="btn btn-resend"
          value="Submit"
          (click)="onSubmitResendCode()"
        >
          Resend
        </button>
      </form>
    </footer>
  </div>
  <div class="notification"></div>
</body>
