<mat-progress-bar
  mode="indeterminate"
  style="position: absolute; z-index: 1000"
  *ngIf="loading"
>
</mat-progress-bar>
<app-header></app-header>
<p-toast key="smsg" position="top-right"></p-toast>
<div class="container-fluid">
    <app-settings></app-settings>
    <div class="forms-container">
        <div class="input-name">
            <form action="#" class="input-name-form" [formGroup]="formUserProfile" id="formUserProfile" enctype="multipart/form-data">
                <div class="upImg">
                    <img [src]="
              avatar !== undefined
                ? avatar
                : 'https://cdn.icon-icons.com/icons2/1378/PNG/512/avatardefault_92824.png'
            " width="100%" class="uploadedImg" [style.opacity]="hovered ? 0.5 : 1" />
                    <input formControlName="avatar" class="inputImg" type="file" accept="image/bmp,image/gif,image/jpeg,image/png,image/tiff,image/webp" aria-hidden="true" (mouseenter)="hovered = true" (mouseleave)="hovered = false" (change)="onSelectedFile($event)" id="avatar"
                    />
                    <div class="inputOnImg" [style.opacity]="hovered ? 1 : 0">
                        <i class='fa fa-photo-video'></i>
                        <small class="form-text text-center">Upload your<br />avatar</small>
                    </div>
                </div>
                <div class="input-field" [ngClass]="{
            'error-box':
            ((formUserProfile.get('username')?.errors?.required &&
            formUserProfile.get('username')?.touched) ||
          (clicked && formUserProfile.get('username')?.pristine ) && username === '')
          }"
        >
          <i class="fas"></i>
          <input
            type="text"
            [placeholder]="
              username !== '' ? username : 'What should we call you'
            "
            formControlName="username"
            required
            id="username"
          />
          <small
            *ngIf="
              ((formUserProfile.get('username')?.errors?.required &&
                formUserProfile.get('username')?.touched) ||
              (clicked && formUserProfile.get('username')?.pristine ) && username === '')
            "
            class="form-text error-text"
            >Username is required</small>
          <small
            *ngIf="formUserProfile.get('username')?.errors?.maxlength"
            class="form-text error-text"
            >Username is at most 50 characters</small
          >
        </div>
        <input
          type="submit"
          value="Save"
          class="btn solid"
          (click)="onSubmitUpdateUser()"
          id="saveBtn"
        />
      </form>
    </div>
  </div>
</div>
